@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-primary: #2563eb;
  --color-primary__light: #3b82f6;
  --color-primary__dark: #1e40af;
  --color-secondary: #4f46e5;
  --color-secondary__light: #818cf8;
  --color-secondary__dark: #3730a3;
  --color-accent: #fb923c;
  --color-accent__light: #ffb36b;
  --color-accent__dark: #c85a0b;
  --color-text: #6b7280;
  --color-text__light: #d1d5db;
  --color-text__dark: #111827;
  --color-text__white: #fff;
}