---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import SectionHomeView from '../components/section/homeView.astro';
import SectionIntroduceView from '../components/section/introduceView.astro';
import SectionStackView from '../components/section/stackView.astro';
import SectionProjectsView from '../components/section/projectsView.vue';

---

<Layout title="RubyOz">
	<main>
		<SectionHomeView />
		<SectionIntroduceView />
		<SectionStackView />
		<SectionProjectsView client:load />
	</main>
</Layout>

<style scoped>

</style>
