---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import SectionHomeView from '../components/section/homeView.astro';
import SectionIntroduceView from '../components/section/introduceView.vue';
import SectionStackView from '../components/section/stackView.astro';
import SectionProjectsView from '../components/section/projectsView.vue';

---

<Layout title="RubyOz">
	<main>
		<div class="main-layout">
			<SectionHomeView />
			<SectionIntroduceView client:load />
			<SectionStackView />
			<SectionProjectsView client:load />
		</div>
	</main>
</Layout>

<style scoped>

</style>
