---
/* homeView.astro */
import { Image } from "astro:assets";
import downArrow from '../../assets/down-arrow.gif';
---

<section class="section-homeView">
  <div class="title">
		<h1 class="leading-title text-center text-7xl font-bold">Discover <span class="text-gradient">Ruby Oz</span></h1>
    <!-- <h1 class="text-center text-7xl font-bold">Discover <span class="text-gradient">Astro</span></h1> -->
    <h3 class="text-center text-2xl font-medium mt-6 text-text-default">Frontend Developer in Taipei, Taiwan</h3>
    <div class="down-arrow">
      <Image src={downArrow} alt="A description of my image." />
    </div>
  </div>
</section>
<script> 
	import { gsap } from '../../../node_modules/gsap/index.js';

	document.addEventListener('DOMContentLoaded', function () {
    gsap.fromTo(
      ".leading-title",
			{ opacity: 0, scale: 0.75}, 
    	{ opacity: 1, scale: 1, duration: 1.5, delay: 3 } 
    );
  });
</script>

<style>
  .text-gradient {
		--accent-gradient: linear-gradient(
			45deg,
			var(--color-primary),
			var(--color-primary__light) 15%,
			var(--color-text__white) 70%
		);
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	.section-homeView{
		height: 100vh;
		.title {
			width: 100%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			display: flex; 
			flex-direction: column; 
			align-items: center; 
			justify-content: center; 


			.down-arrow{
				width: 100%;
				height: auto;
				display: flex;
				justify-content: center;
				padding-top: 3rem;

				img{
          width: 12%;
					height: 100px;
				}

			}
		}
	}

</style>
