---
/* homeView.astro */
import { Image } from "astro:assets";
import downArrow from '../../assets/down-arrow.gif';
---

<section class="section-homeView">
  <div class="title">
		<h1 class="text-center text-7xl font-bold">Discover <span class="text-gradient">Ruby Oz</span></h1>
    <!-- <h1 class="text-center text-7xl font-bold">Discover <span class="text-gradient">Astro</span></h1> -->
    <h3 class="text-center text-2xl font-medium mt-6 text-text-default">Frontend Developer in Taipei, Taiwan</h3>
    <div class="down-arrow">
      <Image src={downArrow} alt="A description of my image." />
    </div>
  </div>
</section>

<style>
  .text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}

	.section-homeView{
		.title {
			width: 100%;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			display: flex; 
			flex-direction: column; 
			align-items: center; 
			justify-content: center; 


			.down-arrow{
				width: 100%;
				height: auto;
				display: flex;
				justify-content: center;
				padding-top: 3rem;

				img{
          width: 12%;
					height: 100px;
				}

			}
		}
	}

</style>
