---
/* stackView.astro */
import { stacks } from '../../data/stackData.js';
---

<section class="stack-view">
  <div class="stack-wrapper p-4 pt-20 ">
    <h1 class="text-6xl mb-6 font-bold text-text-light">Tech Stack</h1>
    <div class="container flex">
      <div class="left flex">
        <div class="column-1 flex flex-col">
          <div class="card info flex-1">info</div>
          <div class="card experience flex-1">experience</div>
        </div>
        
        <div class="column-2 flex flex-col">
          <div class="card timeline flex-1">timeline</div>
        </div>
      </div>
      <div class="right flex flex-col">
        <div class="column-3 flex flex-wrap justify-between">
          {stacks.map(stack => (
            <div class="card tech-stack" data-key={stack.name}>
              <p>{stack.name}</p>
            </div>
          ))}
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .stack-view{
    height: 100vh;
  }
  .stack-wrapper{
    width: 72%;
    position: relative;
    max-width: 1440px;

    .container{
      gap: 1.75rem;
      height: 72%;
      width:  100%;

      .left{
        width: 67%;
        gap: 1.5em;

        .column-1, .column-2{
          height: 100%;
          gap: 2.5rem;
        }

        .column-1{
          width: 45%;
        }
        .column-2{
          width: 55%;
        }
        .experience{
          background: var(--color-secondary__light);
        }
      }

      .right{
        width: 32%;

        .column-3{
          gap: 1.25rem;
          .card{
            width: 46.5%;
            height: 70px;
          }
        }
      }

      .card{
        background: var(--color-text); 
        border-radius: 0.25rem;
      }
    }


  }
</style>